[submodule "Client/types/service-now"]
	path = Client/types/service-now
	url = https://github.com/erwinel/sn_typings_client_scoped.git
[submodule "Scoped/types/service-now"]
	path = Scoped/types/service-now
	url = https://github.com/erwinel/sn_typings_server_scoped.git
[submodule "Global/types/service-now"]
	path = Global/types/service-now
	url = https://github.com/erwinel/sn_typings_server_global.git
